
.admin-menu {
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 4.7rem;
    background-color: #a8adb3;
    border-radius: 5rem;

}

.link-admin {
    font-size: 2rem;
}

.titleAdmin {
    color: rgb(44, 62, 80);
}

.tableIndex {
    border-radius: 2rem;
}

