
body {
    background-color: #ced4da;
}

.bannerText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.picture {
    opacity: 85%;
}
