
.charterH2 {
    text-align: center;
    vertical-align: bottom;
    background-image: url("/public/pictures/louis-endelicher-azo3P0i2Dns-unsplash.png");
    padding: 4rem;
    color: #ced4da;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.charter {
    margin-top: 5rem;
    padding: 5rem;
    background-color: #a8adb3;
    color: #ced4da;
    border-radius: 5rem;
}

p {
    color: #2c3e50;
}

.endCharter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
