
.charterH2 {
    margin-top: 7.8rem;
    height: 40rem;
}

.charter {
    margin-top: 5rem;
    padding: 5rem;
    background-color: #a8adb3;
    color: #ced4da;
    border-radius: 5rem;
}

p {
    color: #2c3e50;
}

.endCharter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
