.eventCard {
    border: solid #2c3e50;
    object-fit: cover;
    -webkit-box-shadow: 10px 15px 15px 0px #2c3e50;
    -moz-box-shadow: 10px 15px 15px 0px #2c3e50;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#2c3e50', Positive='true');
    zoom:1;
    box-shadow: 10px 15px 15px 0px #2c3e50;
}

