footer {
    position: static;
    bottom: 0;
    width: 100%;
}

.navFooter {
    padding: 0;
    margin-top: 3rem;
}

.bgHeader {
    background: #882d06;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #aa3c1d, #a55945);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b6663b, #ae7465); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
}

.ref {
    text-decoration: underline
}

.linkHome {
    margin-right: 1.5rem;
    color: #2c3e50;
}

.linkSpots {
    margin-right: 1.5rem;
    color: #2c3e50;
}

.linkEvenements {
    margin-right: 1.5rem;
    color: #2c3e50;
}

.linkCharter {
    margin-right: 3rem;
    color: #2c3e50;
}

.logoFb {
    margin-right: 1.5rem ; color: #2c3e50
}

.logoInta {
    margin-right: 1.5rem ; color: #2c3e50

}
