
.titleH2 {
    text-align: center;
    margin-top: 3rem;
    color: #2c3e50;
}

.bannerText {
    text-align: center;
    background-image: url("/public/pictures/louis-endelicher-azo3P0i2Dns-unsplash.png");
    padding: 4rem;
    color: #ced4da;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.textH5 {
    color: #2c3e50;
    text-align: center;
    margin-top: 3rem;
}

.indexCard {
    width: 20rem;
    margin-right: 3rem;
    margin-top: 3rem ;
    background-color: #f1f3f6;
    border-radius: 2rem;
    border: solid #2c3e50;
    overflow: hidden;
    -webkit-box-shadow: 10px 15px 15px 0px #2c3e50;
    -moz-box-shadow: 10px 15px 15px 0px #2c3e50;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#2c3e50', Positive='true');
    zoom:1;
    box-shadow: 10px 15px 15px 0px #2c3e50;
    -moz-border-radius:32px;
    -webkit-border-radius:32px;
    border-radius:32px;
    @include media-breakpoint-down(lg){
        width: 100%;
        margin-right: 0;
    }

}

.textCard {
    color: #2c3e50;
}

.buttonCard {
    margin: 1rem;
}

.titleWeather {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #2c3e50;
}

.pictureWeather {
    height: 30rem;
    object-fit: cover;
    -webkit-box-shadow: 10px 15px 15px 0px #2c3e50;
    -moz-box-shadow: 10px 15px 15px 0px #2c3e50;
    filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#2c3e50', Positive='true');
    zoom:1;
    box-shadow: 10px 15px 15px 0px #2c3e50;
    -moz-border-radius:32px;
    -webkit-border-radius:32px;
}

.infoWeather {
    color: #2c3e50;
}

.linkWeather {
    color: #2c3e50
}

.lastLocation {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(lg){
        flex-direction: column;
    }
}



