
.titleH2 {
    text-align: center;
    margin-top: 3rem;
    color: #2c3e50;
}

.textH5 {
    color: #2c3e50;
}

.indexCard {
    width: 20rem;
    margin-right: 3rem;
    margin-top: 3rem ;
    background-color: #f1f3f6;
}

.titleCard {
    color: #2c3e50;
}

.textCard {
    color: #2c3e50;
}

.titleWeather {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #2c3e50;
}

.pictureWeather {
    height: 30rem;
}

.infoWeather {
    color: #2c3e50;
}

.linkWeather {
    color: #2c3e50
}
