
.titleRegister {
    text-align: center;
    color: #2c3e50;
    margin-top: 3rem;

}

.registerForm {
    max-width: 30rem;
}

.btnForm {
    background-color: #ced4da;
    margin-right: 1.5rem;
    color: #2c3e50;
    border: solid #2c3e50;
}


