
#map {
    height: 40rem;
    width: 100%;
}

.containerCard {
    height: 40rem;
}

.cardLocation {
    width: 18rem;
    margin-bottom: 1rem;
}

.buttonCard {
    background-color: #ced4da ;
    margin-right: 1.5rem  ;
    border: solid #2c3e50;
}

.textButton {
    color: #2c3e50;
}
